* {
    font-family: "Poiret One", serif;
}

body {
    margin: 0;


    
    background: linear-gradient(90deg, pink, white);
    background-size: 400% 400%;
    animation: loadingAnimation 3s ease-in-out infinite;
}

@keyframes loadingAnimation {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}