h1 {
    /* background-color: rgb(145,136,103); */
    /* background-color: #bfc0a2;
    background-color: #aeba8a;
    background-color: #b1bbb8;  */
    background-color: #b7bd96; 
    /* background-color: pink; */
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
}